* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Inter', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.element {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
      to right,
      rgb(10, 18, 30),
      rgba(10, 18, 30, 0.95),
      transparent
    ),
    linear-gradient(
      to left bottom,
      rgb(10, 18, 30),
      rgba(10, 18, 30, 0.9),
      transparent
    ),
    linear-gradient(
      to left top,
      rgb(10, 18, 30),
      rgba(10, 18, 30, 0.6),
      transparent
    );
  background-repeat: no-repeat;
}

.home-nav-link {
  text-decoration: none;
  position: relative;
  display: block;
  transition: color 0.1s, background-color 0.1s;
  color: #000;
}

.home-nav-link::before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 1px;
  width: 100%;
  background-color: #fff;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out,
    -webkit-transform 0.2s ease-out;
}

.home-nav-link:hover::before,
.home-nav-link:focus::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
